@import "tailwindcss";

@layer components {
  .pixelated-image {
    image-rendering: pixelated;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable;
}

@layer components {
  .container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
  }
}
